/**
 * File:   classic.css
 * Author: James Kuczynski
 * Email: jkuczyns@cs.uml.edu
 * File Description: 
 *
 * Created: 
 * Last Modified: 
 */


body {

    color: blue;
    background-color: lightblue;
}


textarea {

    color: lightgray;
    background-color: black;
}
